fastapi
uvicorn
pydantic
joblib
pandas
python-multipart
xgboost
rdkit-pypi
requests
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pymongo
bcrypt
langchain
langchain-mistralai
langgraph
langchain-core